.post{
    max-width: 200;
    background-color:white;
    border: 1px solid lightgray; 
    /* width:40%; */

    margin-bottom: 45px;
}
.post__image{
    
 object-fit:contain;
 width: 40%;
   
}

.post_header{
display:flex;
padding: 10px;
 text-align: center;

}
.post_avatar{
    margin-right: 10px;
  
}
.post__commentBox{
    display: flex;
    margin-top: 10px;
}
.post__input{
flex:1;
padding: 10px;
border: none;
border-top: 1px solid lightgray;
    

}
.post__button{
    flex:0;
    border:none;
    color:lightseagreen;
}